<div class="page-container-login">
  <div class="content-wrap-login">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="navigation-bar">
  <%= link_to image_tag('backarrow.png', alt: 'Back'), root_path, class: 'back-button' %>
    <h2 class="page-title"><strong>LOGIN</strong></h2>
    <%=  f.submit 'Log In', class: "signin-btn" %>
  </div>
  <div class="field-email">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
  </div>

  <div class="field-password">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %>
  </div>

<% end %>
<%= link_to "Forgot your password?", new_password_path(resource_name), class: 'forgotpassword-link' %><br />
</div>
</div>
