<div class="page-container">
  <div class="content-wrap">
<div class="navigation-bar">
  <h2 class="page-title"><strong>Categories</strong></h2>
  <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, form: { class: "sign-out-form" }, class: "sign-out" %>
</div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<section class='categories-section'>
<div id="categories">
  <% @categories.each do |category| %>
    <%= link_to category_path(category), class: 'category-link' do %>
      <%= render 'category', category: category %>
    <%end%>
  <% end %>
</div>
</section>
</div>

<section class="footer-section">
<%= link_to new_category_path, class: 'add-category-btn' do %>
  <button class="add-category-button"><strong>Add a New Category</strong></button>
<% end %>
</section>
</div>
